<button class="dt-user__button"
(click)="toggleUsers()">
{{showUsers ? 'Hide': 'Show'}} Users
</button>
<div class="dt-online-users" [@openClose]="'in'" *ngIf="showUsers" >
  <div class="dt-user" *ngFor="let user of users">
    <figure>
      <img class="dt-user__img" [src]="user.avatar"
      [alt]="user.username">
    </figure>
    <div class="dt-user__name">
      <label class="dt-user__label">User's Name</label>
      {{user.name}}
    </div>
    <div class="dt-user__username">
      <label class="dt-user__label">Username</label>
      {{user.username}}
    </div>
    <div class="dt-user__user-id">
      <label class="dt-user__label">UserId</label>
      {{user.userId}}
    </div>
    <div class="dt-user__created-date">
      <label class="dt-user__label">Created Date</label>
      {{user.createdDate | date}}
    </div>
  </div>
</div>
