<button class="button"
        (click)="toggleUsers()">
  {{showUsers ? 'Hide': 'Show'}} Users
</button>
<div class="online-user">
  <ul *ngIf="showUsers">
    <li *ngFor="let user of users">
      <figure>
          <img [src]="user.avatar"
          [alt]="user.username">
      </figure>
      <div class="user-name">
        <label>User's Name</label>
          {{user.name}}
      </div>
      <div class="username">
        <label>Username</label>
        {{user.username}}
      </div>
      <div class="user-id">
        {{user.userId}}
      </div>
      <div class="created-date">
        {{user.createdDate}}
      </div>
    </li>
  </ul>
</div>
